<div class="app-card-container">
  <div class="card">
    
    <h1>About Me</h1>

    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "sherry.JPG", width: 300, alt: "Profile Image", class: 'profile-img' %>
            
      </div>
      <div class="col-md-8">
        <p> Developing software is our passion.  </p>
        <p>We are a highly motivated software company that focuses on building software
        customized to work the way you want. With our keen eye to detail and understanding
        of the needs of a diverse group of industries, we create 
        solutions that will revolutionize your business.</p>
      </div>
    </div>
  </div>
</div>



