<h1>Contact Page</h1>
<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "150" %></p>

<p><%= number_with_delimiter "1501231234564546" %></p>